@charset "UTF-8";
* {
	outline: none;
}

body {
	margin: 0;
}

/* login-form */
#login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;	
	margin: 30px 20px;
}

#login-form * {
	height: 50px;
	margin-bottom: 20px;
	font-size: 15px;
	padding: 5px 10px;	
	border: none;
}

#user-name {
	opacity: 0.7;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#user-name:focus {
	border-bottom-color: #fae100;
}

#btn-name {
	background-color: #fae100;
	border-radius: 5px;
	font-weight: bold;
}

#login-form .find {
	font-size: 10px;
	text-align: center;
	text-decoration: none;
	color: #2e363e;
	opacity: 0.9;
}

.welcome-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 100px 20px; 
}

.welcome-box p {
	font-size: 15px;
	opacity: 0.7;
}

/* chat-room */
footer {
	position: fixed;
	left: 0; bottom: 0;
	width: 100%;
}
.container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
	background-color: #abc1d1;
}

.navbar {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background-color: #abc1d1;
	opacity: 0.9;
	font-size: 15px;
	height: 50px;
}

.navbar .reciever {
	font-size: 20px;
}

.navbar i {
	font-size: 20px;
	cursor: pointer;
}

.reciever {
	padding: 8px 12px;
}
.back {
	padding-left: 12px;
}
.option {
	padding-right: 12px;
}
.msg-box {
	padding: 50px 5px 60px 5px;
	display: flex;
	flex-direction: column;
	animation: fadeIn 0.8s linear;
}
.msg-box .message-row {
	display: flex;
	margin: 3px;
}

.message-row .message-contents {
	margin-left: 3px;
}

.message-contents .message-info {
	display: flex;
	margin-top: 3px;
}

.message-contents .message-writer {
	font-size: 12px;
}

.message-info .message-time {
	display: flex;
	opacity: 0.8;
	font-size: 10px;
	margin-left: 3px;
	flex-direction: column-reverse;
}

.message-info .message {
	background-color: #f9f9fa;
	padding: 5px 10px;
	border-radius: 15px;
	border-top-left-radius: 0px;
}

#msg-box .profile-img {
	width: 50px;
	height: 50px;
	border-radius: 100px;
}


.message-row-own {
	display: flex;
	justify-content: flex-end;
	margin: 3px;
}
.message-row-own .message-info-own{
	display: flex;	
}

.message-info-own .message-own {
	background-color: #fae100;
	padding: 5px 10px;
	border-radius: 15px;
	border-top-right-radius: 0px;
}

.message-info-own .message-time {
	display: flex;
	opacity: 0.8;
	font-size: 10px;
	margin-right: 3px;
	flex-direction: column-reverse;
}

.msg-send {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f9f9fa;
	padding: 8px 0px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

#btn-send {
	height: 40px;	
	font-size: 15px;
	margin-right: 12px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	cursor: pointer;
}

.msg-send #msg {
	outline: none;
	height: 40px;
	font-size: 15px;
	flex-grow: 1;
	margin: 0px 12px;
	border-radius: 20px;
	padding: 5px 20px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}